
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer components {
    .my-bg-image {
      background-image: url("/public/img/Vector.svg");
      background-repeat: no-repeat;
    }
  
    .brand-logo {
      background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, #333333 100%);
      backdrop-filter: blur(100px);
    }
  }